<!-- HTML -->
<nav>
    <div class="nav-container">
      <a routerLink="/home" class="nav-title">DevNavbar</a>
      <ul class="nav-list">
        <li class="nav-item"><a routerLink="/home">Home</a></li>
        <li class="nav-item"><a routerLink="/samantha">Samantha</a></li>
        <li class="nav-item"><a routerLink="/marco">Marco</a></li>
        <li class="nav-item"><a routerLink="/marcos">Marcos</a></li>
        <li class="nav-item"><a routerLink="/ibra">Ibra</a></li>
        <li class="nav-item"><a routerLink="/logout">Salir</a></li>
      </ul>
    </div>
  </nav>