<div>
    <h1>Calculadora</h1>

    <div>
        <input type="number" [(ngModel)]="num1">
        <input type="number" [(ngModel)]="num2">
        <button (click)="calculadora(num1,num2,'suma')">+</button>
        <button (click)="calculadora(num1,num2,'resta')">-</button>
        <button (click)="calculadora(num1,num2,'mult')">*</button>
        <button (click)="calculadora(num1,num2,'div')">/</button>
    </div>
    <div>
        <p>Result= {{ result }}</p>
    </div>
</div>

<div>
    <h4>Tarea</h4>

    <div>
    <p>Exlicar ngModel y como se importa para utilizarlo</p>
    <p>NgModel comunica el input con mi archivo calculadora.component.ts
    El paquete que trae esta logica es el forms module y lo importamos en las importaciones del componente donde los vayamos a utilizar
    </p>
    </div>

    <div>
        <p>Explicar donde, cuando (evento click) y cuantas veces se llama a la funcion calculadora </p>
        <p>Se le llama a la funcion calculadora en los buttons de nuestro html, cuando se le llama? Cuando hacemos click en alguno de nuestros botones</p>
    </div>

    <div>
    <p>Explicar que tipo de datos maneja nuestra calculadora</p>
    <p>La calculadora recibe datos tipo number y 1 dato tipo string que nos explica la operacion que haremos</p>
    </div>

    <div>
    <p>Explicar la linea del return en la funcion calculadora</p>
    <p>El return hace que salgamos de la funcion y no se ejecute lo que va despues.
        Por eso antes del rewturn ponemos la condicion de que se salga si no existe el numero 1 o el numero 2</p>
    </div>

    <div>
    <p>Explicar el if y los else if de la funcion calculadora</p>
    <p>El if es la primera condicion y los else if son las condiciones encadenadas, esto significa que cuando cumples una condicion las demas no se ejectuan </p>
    </div>

    <div>
    <p>Contestar a la pregunta: ¿devuelve algo nuestra función?</p>
    </div>
</div>