<div class="home-wrapper">
    <app-sidemenu (optionChanged)="onOptionChanged($event)"></app-sidemenu>
    
    <div class="home-notes-wrapper">
        <app-git *ngIf="optionShow['git']"></app-git>
        <app-programacion *ngIf="optionShow['programacion']"></app-programacion>
        <app-angular *ngIf="optionShow['angular']"></app-angular>
        <app-terminal *ngIf="optionShow['terminal']"></app-terminal>
        <app-html-css-js *ngIf="optionShow['htmlCssJs']"></app-html-css-js>
        <app-functions *ngIf="optionShow['functions']"></app-functions>
        
    </div>

</div>